.shopTitle {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom:100px;
  }
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product .proview {
    height:500px;
    width:400px;
  }
  
  .product img {
    width: 400px;
    height: 500px;
  }
  
  .product .description {
    margin-top:20px;
    
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  .removeFromCartBttn{
    background-color: transparent ;
    border: 2px solid black;
    mid-width:100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .removeFromCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  .proBtns{
    display:grid;
    width: 320px;
    grid-template-columns:1fr 1fr;
    place-items: center;
  }